{% extends "layout.html" %}

{% block title %}Room Draw{% endblock %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
 
<label for="dorm_name">Select Dorm</label>
<select id="dorm_name">
    <option value="Burton">
        Burton
    </option>
    <option value="Sevy">
        Sevy
    </option>
</select>
<a id="goto" href="/">Go!</a>

<script type="text/javascript">
$("#dorm_name").change(function() {
    var dorm = $("#dorm_name").val();
    $("#goto").attr("href", "/" + dorm);
});
</script>


{% endblock %}