{% extends "layout.html" %}

{% block title %}Room Draw{% endblock %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}

<label for="dorm-name">Select Dorm</label>
<select id="dorm-name">
    <option value="12">
        12 Hour (9AM-9PM)
    </option>
    <option value="4">
        4 Hour (5PM-9PM)
    </option>
</select>
<a id="goto" href="/">Go!</a>

<script type="text/javascript">
$("#dorm-name").change(function() {
    alert('asdf');
    var dorm = $("#dorm-name").val();
    $("#goto").attr("href", "/" + dorm);
});
</script>


{% endblock %}