{% extends "layout.html" %}

{% block title %}Room Draw{% endblock %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
<div class="full-content">
    <h1>
        Room Draw Stats
    </h1>
    <br>
    <label for="dorm-name">Dorm:</label>
    <select id="dorm-name">
        <option value="ALLE">
            Allen House
        </option>
        <option value="BLDG">
            BLDG
        </option>
        <option value="BRKS">
            Brooks House
        </option>
        <option value="BURT">
            Burton
        </option>
        <option value="CASS">
            Cassat
        </option>
        <option value="CHAN">
            CHAN
        </option>
        <option value="CLAD">
            CLAD
        </option>
        <option value="CLWL">
            CLWL
        </option>
        <option value="COLR">
            COLR
        </option>
        <option value="DAVI">
            Davis
        </option>
        <option value="DIXN">
            Dixon House
        </option>
        <option value="DOWH">
            Dow House
        </option>
        <option value="EUGS">
            EUGS
        </option>
        <option value="EVAN">
            Evans
        </option>
        <option value="FACL">
            Faculty Club
        </option>
        <option value="FACX">
            FACX
        </option>
        <option value="GFRT">
            Geffert House
        </option>
        <option value="GHUE">
            Good Hue
        </option>
        <option value="HILL">
            Hill House
        </option>
        <option value="HNTH">
            Huntington House
        </option>
        <option value="HUNT">
            Hunt Cottage
        </option>
        <option value="MMRL">
            Memorial
        </option>
        <option value="MUSS">
            Musser
        </option>
        <option value="MYER">
            Meyers
        </option>
        <option value="NASN">
            Nason House
        </option>
        <option value="NFLD">
            Nofo Option
        </option>
        <option value="NOUR">
            Nourse
        </option>
        <option value="OWNS">
            Owens
        </option>
        <option value="PAGE">
            Page House
        </option>
        <option value="PAGW">
            PAGW
        </option>
        <option value="PREN">
            Prentice House
        </option>
        <option value="PRSH">
            Parish House
        </option>
        <option value="RICE">
            Rice Hosue
        </option>
        <option value="SCOT">
            SCOT
        </option>
        <option value="SEVY">
            Severance
        </option>
        <option value="STAD">
            STAD
        </option>
        <option value="WATH">
            WATH
        </option>
        <option value="WATS">
            Watson
        </option>
        <option value="WILM">
            WILM
        </option>
        <option value="WILS">
            WILS
        </option>
    </select><br>
    <a id="goto" href="/">Go!</a>
</div>

<script type="text/javascript">
$("#dorm-name").change(function() {
    var dorm = $("#dorm-name").val();
    $("#goto").attr("href", "/" + dorm);
});
$(document).ready(function(){
    var dorm = $("#dorm-name").val();
    $("#goto").attr("href", "/" + dorm);
});
</script>


{% endblock %}